<div class="nested-fields">
  <div class="form-group">
    <%= f.label :description %>
  </div>
  <div class="form-group">
    <%= f.text_field :description, class: 'form-control', placeholder: t('placeholder.subject.type_a_new_subject')%>
    <br>
    <%= f.check_box :correct %> <%= t('interaction.message.its_correct') %>
    <%= link_to_remove_association(t('interaction.link.remove'), f)  %>
  </div>
</div>
