<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <% if params[:term] %>
    <h3> <%= "Latest questions for term \"#{params[:term]}\"" %> </h3>
  <% else %>
    <h3>Latest questions registered...</h3>
  <% end %>
</div> <!-- /jumbotron -->

<% @questions.each do |question| %>
  <%= form_with url: site_answer_path, local: true do |form|%>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> <%= question.description %> </h3>
      </div>
      <div class="panel-body">
        <ul>
          <% question.answers.each do |answer| %>
            <li style="list-style: none">
              <div class="radio">
                <label>
                  <%= radio_button_tag 'answer', answer.id %>
                  <%= answer.description %>
                </label>
              </div>
            </li>
          <% end %>

          <li style="list-style:none">
            <%= form.submit "Send", class:"btn btn-default" %>
          </li>
        </ul>

      </div>
    </div>
  <% end %>decoration
<% end %>

<div class="text-center">
  <%= paginate @questions %>
</div>